
.start-context-menu {
    position: absolute;

    left: 0px;
    bottom: var(--task-bar-height);

    min-height: 300px;
    min-width: 300px;
}
.start-context-menu .top {
    line-height: 2.5rem;
    font-weight: bold;
    color: white;
}

.start-context-menu .top input {
    margin-left: calc(2.5%);
    width: 95%;
    line-height: 1rem;
}
.start-context-menu .bottom {
    overflow-x: hidden;
    background-color: var(--color-gray);
}



.start-context-menu-item {
    padding: 0.25rem;
    height: 2.5rem;
    line-height: 2rem;
    color: var(--color-white);
}
.start-context-menu-item img {
    height: 2rem;
}

.start-context-menu .user-name {
    border-right: solid 1px gray;
    padding-left: 0.5rem;
    flex: 1;
}

.log-off {
    line-height: 1rem;
    font-weight: normal;

    padding-top: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: solid 1px var(--color-bg-1);
    background-color: var(--color-gray);
}