
.os-task-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;

    height: var(--task-bar-height);
    line-height: var(--task-bar-height);
    width: 100%;

    z-index: var(--z-task-bar);

    font-size: 1rem;

    border-top: solid 1px rgb(80, 70, 65);
    background: linear-gradient(rgb(75, 75, 75), var(--color-bg-2));
    padding-left: 0rem !important;
    padding-right: 0.5rem;

    color: var(--color-white);
}


.start-menu img {
    height: 1.25rem;
}

.start-menu .my-name {
    line-height: 1.75rem;
}
