
:root {
    --color-bg-1: rgb(111, 103, 99);
    --color-bg-2: rgb(41, 45, 46);
    
    --color-highlight: rgb(150, 135, 125);

    --color-gray: rgb(71, 71, 71);
    --color-light-gray: rgb(160, 150, 150);
    --color-dark-red: rgb(222, 85, 85);
    
    --color-white: rgb(249, 249, 249)    ;
    
    --task-bar-height: 2rem;




    --z-background: 0;
    --z-desktop-icons: 10;
    --z-background-overlay: 10;
    --z-task-bar: 1000000;
    --z-popup:    2000000;
    --z-tooltip:  3000000;
}

body {
    /* font-family: Tahoma, "Trebuchet MS", sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}
.white {
    color: var(--color-white);
}

.os-highlight:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow:
        inset 8px 8px 20px 0px rgba(255, 255, 255, 0.175),
        inset -8px -8px 20px 0px rgba(0, 0, 0, 0.1)
    ;
}

.os-background {
    background: linear-gradient(var(--color-bg-1), var(--color-bg-2));

    color: var(--color-white);
}
.os-background.darker {
    background: linear-gradient(#5A5A5A, var(--color-bg-2));
}
.os-bordered, .os-borders {
    border-radius: 8px;
    border: solid 1px var(--color-gray);
    border-top: solid 1px var(--color-highlight);
    box-shadow: rgba(55, 55, 55, 0.2) 0px 2px 8px;
}