
.os-window {
    position: absolute;
}

.os-window .top {
    height: 2.25rem;
}

.os-window .content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background: linear-gradient(rgb(230, 230, 230), rgb(205, 205, 205));
}